@import "../_mixin/mixin";
@import "../_function/function";
//@import "../_variable/sprite_MYWGA";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white				    : return-value(color, white);
///
/// MAIN
///
//- btn burger
.btn-burger {
	position: relative;
	top: 58px;
	float: right;
	@include mixinDimensions(34px, 23px);


	&:hover {
		.btn-burger__line-1,
		.btn-burger__line-2 {
			width: 34px;
			transition: all .3s ease-in-out;
		}
	}


	&.active {
		transition: all .3s ease-in-out;


		.btn-burger__line {
			&-0,
			&-1,
			&-2 {
				transition: all .3s ease-in-out;
			}


			&-0,
			&-2 {
				width: 34px;
				top: 10.5px;
			}


			&-0 {
				transform: rotate(-45deg);
			}
			&-1 {
				opacity: 0;
			}
			&-2 {
				transform: rotate(45deg);
			}
		}

	}


	&__line-0 {
		width: 34px;
	}
	&__line-1 {
		width: 23px;
		top: 10px;
	}
	&__line-2 {
		width: 30px;
		bottom: 0;
	}


	&__line-0,
	&__line-1,
	&__line-2 {
		position: absolute;
		right: 0;
		height: 2px;
		background-color: $c-white;
		transition: all .3s ease-in-out;
	}
}