@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_AKENORI";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white				    : return-value(color, white);
$c-magnolia         : return-value(color, magnolia);
$c-dimGray          : return-value(color, dimGray);
$c-nero             : return-value(color, nero);
$c-pinkSwan         : return-value(color, pinkSwan);
$c-silver           : return-value(color, silver);
$c-ruby             : return-value(color, ruby);
$c-matterhorn       : return-value(color, matterhorn);

$f-PN_bold          : return-value(fonts, PN_bold);
$f-PN_black         : return-value(fonts, PN_black);
///
/// MAIN
///
//- bg block light
.difference,
.device,
.phone,
.technical {
	background-color: $c-magnolia;
}
//- bg block dark
.special,
.quality,
.salon,
.nature,
.city {
	background-color: $c-nero;
}

//- main titile
.main__title {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;


	&_white {
		.main__title-text {
			color: $c-white;
		}
	}


	&-icon {
		@include retina-sprite($sp-i-eclips-pink-group);
	}


	&-line {
		@include mixinDimensions(100px, 1px);
		margin-left: 40px;
		margin-right: 60px;
		background-color: $c-pinkSwan;
	}


	&-text {
		font: {
			size: 25px;
			family: $f-PN_bold;
		}
		color: $c-dimGray;
		text-transform: uppercase;


		&_color {
			color: $c-nero;
		}
	}
}

//- big title
.big__title {
	font: {
		size: 150px;
		family: $f-PN_black;
	}
	text-transform: uppercase;
	color: $c-matterhorn;
	opacity: .1;
	white-space: nowrap;
	position: absolute;
	z-index: 0;
}

//- btn
.btn {
	position: relative;
	@include mixinDimensions(230px, 56px);
	line-height: 54px;
	padding-left: 20px;
	border: 3px solid $c-ruby;
	transition: all .3s ease-in-out;
	text-transform: uppercase;
	color: $c-ruby;
	font: {
		size: 20px;
		family: $f-PN_black;
	}


	&:hover,
	&:active {
		background-color: $c-ruby;
		color: $c-white;
		transition: all .3s ease-in-out;


		.btn-icon {
			@include retina-sprite($sp-i-btn-h-group);
		}
	}


	&-icon {
		position: absolute;
		top: 15px;
		right: 20px;
		@include retina-sprite($sp-i-btn-group);
	}
}

//- main list
.main {
	&__list {
		font-family: $f-PN_bold;
		padding-top: 80px;
	}


	&__item {
		display: flex;
		align-items: flex-start;
		margin-bottom: 60px;
	}


	&__num {
		color: $c-silver;
		font-size: 18px;
		width: 40px;
	}


	&__line {
		@include mixinDimensions(30px, 1px);
		background-color: $c-silver;
		margin-left: 20px;
		margin-right: 60px;
		position: relative;
		top: 11px;
	}


	&__text {
		color: $c-nero;
		font-size: 20px;
		flex: 1 340px;
		max-width: 340px;
		margin-right: 40px;
	}


	&__icon {
		display: inline-block;


		&-wrap {
			width: 130px;
			text-align: center;
		}
	}
}
//- diff
@each $className, $imgName in
			(0, $sp-i-list-diff-0-group),
			(1, $sp-i-list-diff-1-group),
			(2, $sp-i-list-diff-2-group)
{
	.main__list-diff {
		.main__icon-#{$className} {
			@include retina-sprite($imgName);
		}
	}
}
//- device
@each $className, $imgName in
			(0, $sp-i-list-device-0-group),
			(1, $sp-i-list-device-1-group),
			(2, $sp-i-list-device-2-group),
			(3, $sp-i-list-device-3-group)
{
	.main__list-device {
		.main__icon-#{$className} {
			@include retina-sprite($imgName);
		}
	}
}
//- phone
@each $className, $imgName in
			(0, $sp-i-phone-0-group),
			(1, $sp-i-phone-1-group),
			(2, $sp-i-phone-2-group)
{
	.main__list-phone {
		.main__icon-#{$className} {
			@include retina-sprite($imgName);
		}
	}
}
//- technical
@each $className, $imgName in
			(0, $sp-i-technical-0-group),
			(1, $sp-i-technical-1-group),
			(2, $sp-i-technical-2-group),
			(3, $sp-i-technical-3-group),
			(4, $sp-i-technical-4-group),
			(5, $sp-i-technical-5-group),
			(6, $sp-i-technical-6-group),
			(7, $sp-i-technical-7-group),
			(8, $sp-i-technical-8-group),
			(9, $sp-i-technical-9-group)
{
	.main__list-technical {
		.main__icon-#{$className} {
			@include retina-sprite($imgName);
		}
	}
}

//- image centered in block
.img-centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

//- small list
.small {
	&__list {
		margin-top: 100px;
		width: 680px;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
	}


	&__item {
		width: 50%;
		padding: 0 10px 20px;
		color: $c-pinkSwan;
		display: flex;
		flex: 1px 300px;
	}


	&__icon {
		display: inline-block;
		@include retina-sprite($sp-i-eclips-pink-small-group);


		&-wrap {
			width: 30px;
		}
	}


	&__text {
		width: calc(100% - 30px);
	}
}