///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
///
/// MAIN BLOCK
///
.city {
	position: relative;
	padding-top: 40px;
	padding-bottom: 20px;
	min-height: 620px;
	@include respond-to(medium-max) {
		padding-top: 50px;
		overflow: hidden;
	}
	@include respond-to(small-max) {
		padding-top: 0;
	}


	.main__title {
		@include respond-to(medium-max) {
			display: none;
		}
	}


	&__hide {
		&.main__title {
			display: none;
			padding-top: 20px;
			padding-left: 15px;
			padding-right: 15px;
			@include respond-to(medium-max) {
				display: flex;
				justify-content: flex-start;
			}
		}
	}


	&__title {
		@include respond-to(medium) {
			top: 0;
		}
	}
}