///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_AKENORI";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);

$f-PN_bold          : return-value(fonts, PN_bold);
///
/// MAIN BLOCK
///
.delivery {
	position: relative;
	min-height: 650px;
	padding-top: 100px;
	padding-bottom: 30px;
	overflow: hidden;
	@include respond-to(small-max) {
		padding-top: 40px;
	}


	.row {
		&__left {
			@include respond-to(small-max) {
				width: 30%;
			}
		}
		&__right {
			@include respond-to(small-max) {
				width: 70%;
			}
		}
	}


	&__title {
		top: 0;
		left: -300px;
		line-height: 1;
	}


	&__img {
		position: absolute;
		bottom: 0;
		left: 100px;
	}


	&__row {
		float: left;
		width: 50%;
		@include respond-to(small-max) {
			width: 100%;
		}
	}


	&__list {
		margin-top: 80px;
		float: right;
		width: 60%;
		@include respond-to(hard-max) {
			width: 70%;
		}
		@include respond-to(large-max) {
			width: 100%;
		}
	}


	&__item {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		margin-bottom: 30px;
	}


	&__icon {
		display: inline-block;
		position: relative;
		top: 2px;
		@include retina-sprite($sp-i-eclips-pink-small-group);


		&-wrap {
			width: 30px;
			text-align: center;
			margin-right: 20px;
		}
	}


	&__text {
		display: inline-block;
		color: $c-white;
		font: {
			size: 20px;
			family: $f-PN_bold;
		}
		@include respond-to(small-max) {
			font-size: 15px;
		}
	}


	&__bottom {
		float: right;
		width: 60%;
		margin-top: 80px;
		@include respond-to(hard-max) {
			width: 70%;
		}
		@include respond-to(large-max) {
			width: 100%;
		}
		@include respond-to(small-max) {
			margin-top: 40px;
		}
	}


	&__price {
		float: left;
		@include respond-to(small-max) {
			float: none;
			margin-bottom: 30px;
		}


		&-num {
			display: inline-block;
			margin-right: 15px;
			color: $c-white;
			font: {
				size: 40px;
				family: $f-PN_bold;
			}
		}


		&-icon {
			display: inline-block;
			position: relative;
			top: -2px;
			@include retina-sprite($sp-i-device-price-white-group);
		}
	}


	&__btn {
		float: right;
		@include respond-to(small-max) {
			float: none;
			display: block;
		}
	}
}