///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";

@import "./_macros/headerFixed";
@import "./_macros/register";
@import "./_macros/logotype";
@import "./_macros/nav";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-nero             : return-value(color, nero);
$c-eclipse          : return-value(color, eclipse);
$c-pinkSwan         : return-value(color, pinkSwan);
$c-veryLightGrey    : return-value(color, veryLightGrey);

$f-PN_light         : return-value(fonts, PN_light);
///
/// MAIN BLOCK
///
.header {
	position: relative;
	min-height: 100vh;
	background: $c-nero;
	@include respond-to(small-max) {
		min-height: 480px;
		overflow: hidden;
		position: relative;
	}


	&__title {
		font: {
			size: 25px;
			family: $f-PN_light;
		}
		color: $c-veryLightGrey;
		text-align: center;
		padding-top: 180px;
		padding-bottom: 100px;
		@include respond-to(small-max) {
			padding-top: 0;
			font-size: 20px;
			text-align: left;
			width: 40%;
			position: absolute;
			z-index: 11;
			margin-top: -50px;
			top: 50%;
			right: 0;
			padding-right: 15px;
		}
		@include respond-to(extra-small) {
			font-size: 15px;
			width: 55%;
			margin-top: 0;
		}
	}


	&__line {
		position: absolute;
		z-index: 10;
		bottom: -56px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		@include mixinDimensions(1px, 112px);
		background-color: $c-pinkSwan;
		@include respond-to(small-max) {
			display: none;
		}
	}
}