///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";

@import "./_macros/headerFixed";
@import "./_macros/register";
@import "./_macros/logotype";
@import "./_macros/nav";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-nero             : return-value(color, nero);
$c-eclipse          : return-value(color, eclipse);
$c-pinkSwan         : return-value(color, pinkSwan);
$c-veryLightGrey    : return-value(color, veryLightGrey);

$f-PN_light         : return-value(fonts, PN_light);
///
/// MAIN BLOCK
///
.header {
	position: relative;
	min-height: 100vh;
	background: $c-nero;
	//background-image: -ms-linear-gradient(top, $c-nero 0%, $c-nero 45%, $c-nero 47%, $c-eclipse 65%, $c-eclipse 67%, $c-eclipse 70%, $c-nero 90%, $c-nero 100%);
	//background-image: -moz-linear-gradient(top, $c-nero 0%, $c-nero 45%, $c-nero 47%, $c-eclipse 65%, $c-eclipse 67%, $c-eclipse 70%, $c-nero 90%, $c-nero 100%);
	//background-image: -o-linear-gradient(top, $c-nero 0%, $c-nero 45%, $c-nero 47%, $c-eclipse 65%, $c-eclipse 67%, $c-eclipse 70%, $c-nero 90%, $c-nero 100%);
	//background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $c-nero), color-stop(45, $c-nero), color-stop(47, $c-nero), color-stop(65, $c-eclipse), color-stop(67, $c-eclipse), color-stop(70, $c-eclipse), color-stop(90, $c-nero), color-stop(100, $c-nero));
	//background-image: -webkit-linear-gradient(top, $c-nero 0%, $c-nero 45%, $c-nero 47%, $c-eclipse 65%, $c-eclipse 67%, $c-eclipse 70%, $c-nero 90%, $c-nero 100%);
	//background-image: linear-gradient(to bottom, $c-nero 0%, $c-nero 45%, $c-nero 47%, $c-eclipse 65%, $c-eclipse 67%, $c-eclipse 70%, $c-nero 90%, $c-nero 100%);
	@include respond-to(small-max) {
		height: 480px;
		min-height: 480px;
		overflow: hidden;
		position: relative;
	}


	&__title {
		font: {
			size: 25px;
			family: $f-PN_light;
		}
		color: $c-veryLightGrey;
		text-align: center;
		padding-bottom: 100px;
		@include respond-to(small-max) {
			font-size: 15px;
			text-align: left;
			width: 64%;
			position: absolute;
			z-index: 11;
			bottom: 20px;
			right: 0;
			padding-right: 15px;
		}
	}


	&__line {
		position: absolute;
		z-index: 10;
		bottom: -56px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		@include mixinDimensions(1px, 112px);
		background-color: $c-pinkSwan;
		@include respond-to(small-max) {
			display: none;
		}
	}


	&:before {
		content: "";
		position: absolute;
		z-index: 0;
		top: 280px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		@include mixinDimensions(657px, 308px);
		background-image: url("../img/img-logo-bg.png");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		@include respond-to(small-max) {
			top: 240px;
			@include mixinDimensions(355px, 175px);
			background-image: url("../img/img-logo-bg-mobile.png");
		}
	}


	&:after {
		//content: "";
		//position: absolute;
		//bottom: 0;
		//@include mixinDimensions($w-all, 576px);
		//background: -moz-radial-gradient(center, ellipse cover,  rgba(60,60,60,1) 0%, rgba(0,0,0,0) 100%);
		//background: -webkit-radial-gradient(center, ellipse cover,  rgba(60,60,60,1) 0%,rgba(0,0,0,0) 100%);
		//background: radial-gradient(ellipse at center,  rgba(60,60,60,1) 0%,rgba(0,0,0,0) 100%);
		//filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3c3c', endColorstr='#00000000',GradientType=1 );
		//background-image: url("../img/img-eclips.png");
		//background-size: cover;
		//background-repeat: no-repeat;
		//background-position: center;
	}
}