///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_AKENORI";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-ruby             : return-value(color, ruby);
$c-pinkSwan         : return-value(color, pinkSwan);
$c-nero             : return-value(color, nero);

$f-PN_bold          : return-value(fonts, PN_bold);
$f-PN_black         : return-value(fonts, PN_black);
///
/// MAIN BLOCK
///
.more {
	min-height: 850px;
	padding-top: 100px;
	padding-bottom: 30px;
	@include respond-to(medium-max) {
		padding-top: 80px;
	}
	@include respond-to(small-max) {
		padding-top: 40px;
		min-height: 550px;
	}


	&__btn {
		cursor: pointer;
		padding-top: 80px;
		display: flex;
		justify-content: center;
		align-items: center;


		&-wrap {
			width: 350px;
			@include respond-to(small-max) {
				width: 50%;
				text-align: center;
			}


			&.active {
				.more__num {
					opacity: 1;
				}
				.more__line {
					opacity: 1;
				}
				.more__text {
					color: $c-nero;


					&:after {
						opacity: 1;
					}
				}
			}
		}
	}


	&__num {
		opacity: 0;
		width: 30px;
		text-align: center;
		color: $c-pinkSwan;
		font: {
			size: 18px;
			family: $f-PN_bold;
		}
		@include respond-to(small-max) {
			display: none;
		}
	}


	&__line {
		opacity: 0;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -2px;
		@include mixinDimensions(30px, 1px);
		background-color: $c-pinkSwan;
		margin-left: 15px;
		margin-right: 15px;
		@include respond-to(small-max) {
			display: none;
		}
	}


	&__text {
		position: relative;
		font: {
			size: 20px;
			family: $f-PN_black;
		}
		text-transform: uppercase;
		@include respond-to(small-max) {
			font-size: 15px;
		}


		&:after {
			opacity: 0;
			content: "";
			position: absolute;
			left: 0;
			bottom: -10px;
			@include mixinDimensions($w-all, 3px);
			background-color: $c-ruby;
		}
	}


	&__carousel {
		margin-top: 80px;
	}


	&__item {
		text-align: center;
		margin-left: 20px;
		margin-right: 20px;
	}


	&__img {
		display: inline-block !important;
		max-width: 100%;
	}
}