///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_AKENORI";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-ruby             : return-value(color, ruby);
$c-pinkSwan         : return-value(color, pinkSwan);
$c-nero             : return-value(color, nero);
$c-matterhorn       : return-value(color, matterhorn);

$f-PN_bold          : return-value(fonts, PN_bold);
$f-PN_black         : return-value(fonts, PN_black);
///
/// MAIN BLOCK
///
.more {
	min-height: 850px;
	padding-top: 100px;
	padding-bottom: 30px;
	@include respond-to(medium-max) {
		padding-top: 80px;
	}
	@include respond-to(small-max) {
		padding-top: 40px;
		min-height: 600px;
	}


	&__btn {
		cursor: pointer;
		padding-top: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		@include respond-to(medium-max) {
			padding-top: 60px;
		}


		&-wrap {
			width: 350px;
			color: lighten($c-matterhorn, 10%);
			@include respond-to(small-max) {
				width: 50%;
				text-align: center;
			}


			&.active {
				color: $c-nero;
				.more__num {
					opacity: 1;
				}
				.more__line {
					opacity: 1;
				}
				.more__text {
					color: $c-nero;


					&:after {
						opacity: 1;
					}
				}
			}
		}
	}


	&__num {
		opacity: 0;
		width: 30px;
		text-align: center;
		color: $c-pinkSwan;
		font: {
			size: 18px;
			family: $f-PN_bold;
		}
		@include respond-to(small-max) {
			display: none;
		}
	}


	&__line {
		opacity: 0;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -2px;
		@include mixinDimensions(30px, 1px);
		background-color: $c-pinkSwan;
		margin-left: 15px;
		margin-right: 15px;
		@include respond-to(small-max) {
			display: none;
		}
	}


	&__text {
		position: relative;
		font: {
			size: 20px;
			family: $f-PN_black;
		}
		text-transform: uppercase;
		@include respond-to(small-max) {
			font-size: 15px;
		}


		&:after {
			opacity: 0;
			content: "";
			position: absolute;
			left: 0;
			bottom: -10px;
			@include mixinDimensions($w-all, 3px);
			background-color: $c-ruby;
		}
	}


	&__carousel {
		margin-top: 80px;


		&-device {
			.more {
				&__item {
					&-0 {
						max-width: 587px;


						.more__item-text {
							&-0 {
								top: 30px;
								left: 10px;
								@include respond-to(small-max) {
									top: 0;
									left: 0;
								}
							}
							&-1 {
								top: 40px;
								right: -10px;
								@include respond-to(medium-max) {
									right: 0;
								}
								@include respond-to(small-max) {
									top: 0;
									right: 0;
								}
							}
							&-2 {
								bottom: 110px;
								left: -70px;
								@include respond-to(medium-max) {
									bottom: 0;
									left: 0;
								}
							}
							&-3 {
								bottom: 70px;
								right: -150px;
								@include respond-to(medium-max) {
									bottom: 0;
									right: 0;
								}
							}
						}
					}
					&-1 {
						max-width: 729px;


						.more__item-text {
							&-0 {
								bottom: 70px;
								left: -50px;
								@include respond-to(medium-max) {
									left: 0;
									bottom: 100px;
								}
								@include respond-to(small-max) {
									bottom: 0;
									left: 0;
								}
							}
							&-1 {
								top: 0;
								right: 0;
							}
							&-2 {
								bottom: 70px;
								right: -50px;
								@include respond-to(medium-max) {
									right: 0;
									bottom: 120px;
								}
								@include respond-to(small-max) {
									right: 0;
									bottom: 0;
								}
							}
						}
					}
					&-2 {
						max-width: 660px;


						.more__item-text {
							&-0 {
								bottom: 190px;
								left: 0;
								@include respond-to(small-max) {
									top: 0;
									bottom: auto;
								}
							}
						}
					}
					&-3 {
						max-width: 696px;


						.more__item-text {
							&-0 {
								bottom: 170px;
								left: -30px;
								@include respond-to(medium-max) {
									left: 0;
									bottom: 200px;
								}
								@include respond-to(small-max) {
									left: 0;
									top: 0;
									bottom: auto;
								}
							}
						}
					}
				}
			}
		}


		&-kit {
			margin-top: 0;


			.more {
				&__item {
					&-0 {
						max-width: 784px;
					}
					&-1 {
						max-width: 195px;


						.more__item-text {
							&-0 {
								top: 0;
								left: 40px;
							}
						}
					}
					&-2 {
						max-width: 366px;


						.more__item-text {
							&-0 {
								bottom: 0;
								left: 0;
							}
						}
					}
					&-3 {
						max-width: 270px;


						.more__item-text {
							&-0 {
								top: 0;
								left: 20px;
								text-align: left;
							}
						}
					}
					&-4 {
						max-width: 259px;


						.more__item-text {
							&-0 {
								top: 40px;
								right: 0;
							}
						}
					}
				}
			}
		}
	}


	&__item {
		position: relative;
		text-align: center;
		margin: {
			left: auto;
			right: auto;
		};
		@include respond-to(small-max) {
			padding-bottom: 15px;
		}


		&-line {
			top: 0;
			opacity: 0;

			.active & {
				transition: all .6s ease-in-out;
				transition-delay: .2s;
				opacity: 1;
			}
		}


		&-text {
			font: {
				size: 18px;
				family: $f-PN_bold;
			}
			color: $c-nero;
			opacity: 0;
			@include respond-to(small-max) {
				font-size: 12px;
			}


			.active & {
				transition: all .6s ease-in-out;
				transition-delay: .7s;
				opacity: 1;
			}
		}


		&-line,
		&-text {
			position: absolute;
		}
	}


	&__img {
		display: inline-block !important;
		max-width: 100%;
	}
}