///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
///
/// MAIN BLOCK
///
.nature {
	position: relative;
	min-height: 700px;
	padding-top: 20px;
	overflow: hidden;


	.main__title {
		@include respond-to(medium-max) {
			display: none;
		}
	}


	&__hide {
		&.main__title {
			display: none;
			padding-left: 15px;
			padding-right: 15px;
			@include respond-to(medium-max) {
				display: flex;
				justify-content: flex-start;
			}
		}
	}
}