///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
///
/// MAIN BLOCK
///
.technical {
	position: relative;
	min-height: 1320px;
	padding-top: 100px;
	padding-bottom: 40px;
	overflow: hidden;
	@include respond-to(medium-max) {
		padding-bottom: 220px;
		padding-top: 60px;
	}


	.main__title {
		@include respond-to(small-max) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}


	&__img {
		position: absolute;
		bottom: -100px;
		left: -100px;


		&_big {
			@include respond-to(hard-max) {
				display: none;
			}
		}
		&_medium {
			display: none;
			@include respond-to(hard-max) {
				display: block;
				left: 0;
				bottom: 0;
			}
			@include respond-to(medium-max) {
				bottom: -100px;
				left: -40px;
			}
		}
	}


	&__row {
		float: right;
		width: 50%;
		position: relative;
		z-index: 11;
		@include respond-to(hard-max) {
			width: 70%;
		}
		@include respond-to(medium) {
			width: 80%;
		}
		@include respond-to(small-max) {
			float: none;
			width: 100%;
		}
	}
}