///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_AKENORI";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-pinkSwan         : return-value(color, pinkSwan);
$c-matterhorn       : return-value(color, matterhorn);
$c-dimGray	        : return-value(color, dimGray);
$c-silver	        : return-value(color, silver);
$c-ruby	        	: return-value(color, ruby);

$f-PN_extraBold		: return-value(fonts, PN_extraBold);
$f-PN_bold			: return-value(fonts, PN_bold);
///
/// MAIN BLOCK
///
.testimonials {
	position: relative;
	min-height: 720px;
	padding-top: 100px;
	padding-bottom: 40px;
	@include respond-to(hard-max) {
		padding-top: 60px;
	}


	.main__title {
		@include respond-to(small-max) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}


	&__img {
		position: absolute;
		z-index: 15;
		bottom: -250px;
		@include respond-to(hard-max) {
			display: none;
		}
	}


	&__carousel {
		margin-top: 60px;
		@include mixinDimensions($w-all, 400px);
		@include respond-to(hard-max) {
			margin-top: 30px;
			height: auto;
		}
	}


	&__item {
		width: 800px;
		float: right;
		@include respond-to(hard-max) {
			width: 100%;
			float: none;
		}


		&-img {
			display: inline-block !important;
			vertical-align: top;
			margin-left: 40px;
			@include respond-to(small-max) {
				display: block;
				margin: {
					left: 0;
					top: 20px;
				}
			}
		}
	}


	&__icon {
		display: block;
		margin-bottom: 20px;
		@include retina-sprite($sp-i-quotation-group);
	}


	&__text {
		display: inline-block;
		vertical-align: top;
		margin-right: -.32em;
		width: 430px;

		font: {
			size: 25px;
			family: $f-PN_bold;
		}
		color: $c-dimGray;
		@include respond-to(hard-max) {
			width: 50%;
		}
		@include respond-to(small-max) {
			display: block;
			width: $w-all;
			font-size: 20px;
		}
	}


	.owl {
		&-nav,
		&-dots {
			display: inline-block;
		}


		&-nav {
			margin-left: (1170 - 800) * 1px;
			@include respond-to(hard-max) {
				margin-left: 0;
			}
			@include respond-to(small-max) {
				width: $w-all;
				position: relative;
			}
		}


		&-next {
			margin-left: 80px;
			@include respond-to(small-max) {
				margin-left: 0;
				right: 0;
			}
		}

		&-prev {
			@include respond-to(small-max) {
				left: 0;
			}
		}


		&-next,
		&-prev {
			@include respond-to(small-max) {
				position: absolute;
			}
		}

		&-dots {
			position: relative;
			margin-left: 200px;
			@include respond-to(small-max) {
				display: block;
				text-align: center;
				margin-top: 17px;
				width: calc(100% - 100px);
				margin: {
					left: auto;
					right: auto;
				};
			}


			&:after {
				content: "";
				position: absolute;
				top: 17px;
				@include mixinDimensions(100px, 2px);
				background-color: $c-silver;
				@include respond-to(small-max) {
					display: none;
				}
			}
		}

		&-dot {
			display: inline-block;
			vertical-align: middle;
			padding-top: 6px;
			margin-left: 10px;
			margin-right: 10px;
			color: $c-silver;
			font: {
				size: 18px;
				family: $f-PN_bold;
			}


			&.active {
				color: $c-ruby;
			}
		}
	}


	&__btn {
		display: block;
		margin: {
			top: 60px;
			bottom: 40px;
		}
	}
}