///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
@import "../_variable/sprite_AKENORI";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
$c-pinkSwan         : return-value(color, pinkSwan);
$c-matterhorn       : return-value(color, matterhorn);

$f-PN_extraBold			: return-value(fonts, PN_extraBold);
///
/// MAIN BLOCK
///
.testimonials {
	position: relative;
	min-height: 720px;
	padding-top: 100px;
	padding-bottom: 40px;
	overflow: hidden;
	@include respond-to(hard-max) {
		padding-top: 60px;
	}


	.main__title {
		@include respond-to(small-max) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}


	&__img {
		position: absolute;
		bottom: -50px;
		left: -100px;
		@include respond-to(hard-max) {
			display: none;
		}
	}


	&__carousel {
		margin-top: 60px;
		@include mixinDimensions($w-all, 400px);
		@include respond-to(hard-max) {
			margin-top: 30px;
			height: auto;
		}
	}


	&__right {
		width: 50%;
		@include respond-to(hard-max) {
			width: calc(100% - 140px);
			margin-left: auto;
			margin-right: auto;
			padding-bottom: 60px !important;
		}
		@include respond-to(small-max) {
			width: 100%;
			padding-bottom: 120px !important;
		}


		&-wrap {
			position: relative;
			overflow: hidden;
			@include mixinDimensions(470px, 280px);
			@include respond-to(hard-max) {
				@include mixinDimensions($w-all, 400px);
			}
			@include respond-to(small-max) {
				height: 230px;
			}
		}
	}


	&__left,
	&__right {
		float: right;
		padding: 30px;
		@include respond-to(hard-max) {
			float: none;
			padding: 0;
		}
	}


	&__left {
		width: 40%;
		padding-top: 90px;
		@include respond-to(hard-max) {
			padding-top: 0;
			width: calc(100% - 140px);
			margin-left: auto;
			margin-right: auto;
		}
		@include respond-to(small-max) {
			width: 100%;
		}


		&-top {
			padding-bottom: 20px;
		}


		&-bottom {
			color: $c-matterhorn;
		}
	}


	&__wrap-btn {
		position: absolute;
		bottom: 20px;
		left: 20px;
		@include respond-to(hard-max) {
			bottom: 0;
			left: 0;
			right: 0;
			top: 0;
			margin: auto;
		}
	}


	&__name {
		float: left;
		font-family: $f-PN_extraBold;
	}


	&__city {
		float: right;
		padding-right: 20px;
	}


	&__name,
	&__city {
		font-size: 25px;
	}
}


.owl-carousel.testimonials__carousel {
	.owl {
		&-nav {
			top: 30px;
			left: 140px;
			@include respond-to(hard-max) {
				position: static;
			}
		}
		&-prev {
			@include respond-to(hard-max) {
				left: 30px;
			}
			@include respond-to(small-max) {
				left: 0;
			}
		}
		&-next {
			@include respond-to(hard-max) {
				right: 30px;
			}
			@include respond-to(small-max) {
				right: 0;
			}
		}
		&-prev,
		&-next {
			@include respond-to(hard-max) {
				position: absolute;
				z-index: 11;
				top: 200px;
			}
			@include respond-to(small-max) {
				top: 245px;
			}
		}
		&-dots {
			top: 25px;
			left: 343px;
			@include respond-to(hard-max) {
				top: 445px;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				width: calc(100% - 140px);
			}
			@include respond-to(small-max) {
				top: 270px;
				width: 100%;
			}


			&:after {
				@include respond-to(hard-max) {
					display: none;
				}
			}
		}
		&-dot {
			color: $c-pinkSwan;
		}
	}
}