///
/// IMPORT BLOCK
///
@import "../_mixin/mixin";
@import "../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
///
/// MAIN BLOCK
///
.tripWithout {
	position: relative;
	min-height: 780px;
	padding-top: 40px;
	padding-bottom: 20px;
	@include respond-to(medium-max) {
		overflow: hidden;
	}


	.row__left {
		z-index: 10;
	}


	.main__title {
		@include respond-to(medium-max) {
			display: none;
		}
	}


	&__hide {
		&.main__title {
			display: none;
			padding-top: 20px;
			padding-left: 15px;
			padding-right: 15px;
			@include respond-to(medium-max) {
				display: flex;
				justify-content: flex-start;
			}
		}
	}


	.left__title {
		top: 60px;
	}


	.left__img-wrap {
		top: 80px;
	}
}