///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
///
/// MAIN BLOCK
///
.logotype {


	&__img {


		&-1 {
			padding-top: 20px;
			padding-bottom: 20px;
			@include respond-to(small-max) {
				max-width: 40%;
			}
		}


		&-0,
		&-1 {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}


		&-big {
			@include respond-to(small-max) {
				display: none;
			}
		}


		&-mobile {
			display: none;
			@include respond-to(small-max) {
				display: block;
			}
		}
	}
}