///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
///
/// MAIN BLOCK
///
.register {
	position: absolute;
	z-index: 10;
	top: 280px;
	width: $w-all;
	padding-top: 20px;
	@include respond-to(small-max) {
		position: relative;
		left: -150px;
		top: 0;
		padding: 0 30px 20px;
	}


	&__img {
		display: block;
		margin-left: auto;
		margin-right: auto;


		&-0 {
			padding-bottom: 20px;
		}
	}
}