///
/// IMPORT BLOCK
///
@import "../../_mixin/mixin";
@import "../../_function/function";
///
/// DECLARATION VARIABLE
///
$w-all              : return-value(dimension, all);

$c-white            : return-value(color, white);
///
/// MAIN BLOCK
///
.register {
	position: relative;
	z-index: 10;
	padding-top: 20px;


	&__img {
		display: block;
		margin-left: auto;
		margin-right: auto;


		&-0 {
			padding-bottom: 20px;
		}
	}
}