include _mixin/mixin


doctype html
html(lang="en")


    +headSite("Akenori", linkSite.styleLink, "")


    body


        //- BLOCK HEADER [nav, bottomInfo, logo, slogan]
        //block header
            include _template/header

        //block difference
            include _template/difference

        //block special
            include _template/special

        //block device
            include _template/device

        //block quality
            include _template/quality

        block phone
            include _template/phone

        //- BLOCK FOOTER
        //block footer
            include _template/footer



        - for(var i = 0; i < linkSite.scriptLink.length; i++)
            script(src= linkSite.scriptLink[i])