include _mixin/mixin


doctype html
html(lang="en")

    +headSite("Akenori", linkSite.styleLink, "")


    body

        include _template/header
        include _template/difference
        include _template/special
        include _template/device
        include _template/quality
        include _template/phone
        include _template/salon
        include _template/nature
        include _template/city
        include _template/technical
        include _template/sentence
        include _template/more
        include _template/tripWithout
        include _template/tripWith
        include _template/testimonials
        include _template/delivery
        include _template/footer
        include _template/modal

        - for(var i = 0; i < linkSite.scriptLink.length; i++)
            script(src= linkSite.scriptLink[i])